.formular{
    /* margin-bottom: 50px; */
    padding-bottom: 100px;
}

.login-card{
    width: 30%; 
    /* 500px */
    margin: auto;
    margin-top: 5%;
}

.mat-form-field{
    display: block;
    margin-bottom: 15px;
}

.mat-checkbox{
    display: block;
    margin-top: 5px;
}