
<form (ngSubmit)="onSubmit()" [formGroup]="editForm" class="formular">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>username</mat-label>
                <input matInput type="text" formControlName="name" >
                <mat-error *ngIf="name.errors && name.errors['required']">Username is required</mat-error>
                <mat-error *ngIf="name.errors && name.errors['minlength']">Username must be min {{name.errors['minlength']['requiredLength']}} characters long</mat-error>
                <mat-error *ngIf="name.errors && name.errors['conflict']">
                   Username {{name.errors['conflict']}}
                </mat-error>
               <!-- <mat-hint>Enter your username</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="email.errors && email.errors['required']">email is required</mat-error>
                <!-- <mat-hint>Enter your email</mat-hint> -->
                <mat-error *ngIf="email.errors && email.errors['conflict']">
                    Email {{email.errors['conflict']}}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-slide-toggle formControlName="active">aktivny</mat-slide-toggle>
            <br /> <br/>
            <div formArrayName="groups">
                <mat-checkbox *ngFor="let g of groups.controls; let i = index" [formControlName]="i">
                    {{allGroups[i].name}}
                </mat-checkbox>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button 
                mat-raised-button 
                color="primary" 
                type="submit" 
                [disabled]="editForm.invalid"
            >Save</button>
        </mat-card-actions>
    </mat-card>


</form>

